body{
  background-color: #3bbbb9;
  font-family: 'Noto Serif', serif;
}
body.splash{
  background-color: black;
}
body.twoD{
  background-color: #f6749a;
}
.splash img{
  height:100%;
  width: 100%;
  display: block;
  margin: 50px;
}
.splash p{
    color: #fff;
    text-shadow:
      0 0 7px rgb(255, 225, 225),
      0 0 10px rgb(255, 225, 225),
      0 0 21px rgb(255, 225, 225),
      0 0 42px rgb(230, 112, 106),
      0 0 82px rgb(230, 112, 106),
      0 0 92px rgb(230, 112, 106),
      0 0 102px rgb(230, 112, 106),
      0 0 151px rgb(230, 112, 106);
      text-align:center;
      font-family: 'Noto Serif', serif;
}

.band-member{
  background-color: darkcyan;
  width: 30%;
  height: 100%;
  padding: 20px;
  float: left;
  box-sizing: border-box;
  border-radius: 20px;
  align-content:center;
  margin: 10px;
}
img.band-member{
  width: 100px;
  margin: 10px;
}


a:hover{
  box-shadow: 0 0 5px 5px rgba(0,0,0,0);
}
.music-player{
  float: left;
}
.noodle {
  float: left;
  border-radius: 50%;
  width: 30%;
  padding: 1em;
}


.column{
  float: left;
  width: 300px;
  padding: 1em;
}

.boxes {
  border: 2px solid black;
  padding: 4px;
  margin: 12px;
  box-sizing: border-box;
}


